:root {
    --Red: #E63946;
    --Off-White: #F1FAEE;
    --Cyan: #1BEDCA;
    --Light-Yellow: #F1C40F;
    --Light-Green: #D8E2DC;
    --Highlight-Blue: #1BEDCA;
    --Blue: #457B9D;
    --Shadow-Blue: #1D3557;
    --Dark-Yellow: #F9C74F;
    --Orange: #F3722C;
    --Green: #2A9D8F;
}

body {
    font-family: Sora, sans-serif;
}

#nav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
    background-color: var(--Light-Green);
    margin: 0;


    &>a {
        align-self: center;
        border: 1px solid black;
        box-sizing: border-box;
        padding: 10px;
        text-decoration: none;
        background-color: var(--Light-Yellow);
        box-shadow: 5px 5px 0 black,
            5px 5px 0 white inset;
    }


}

h1 {
    text-align: center;
    font-size: 80px;
    color: var(--Blue);
    -webkit-text-stroke: 1px black;
}

.Home {
    /* Need to adjust text color to black for the home button in the nav bar visited state.*/
    font-weight: 700;
    text-decoration: none;

    &>a:visited {
        color: black;
    }
}

.Planner {
    display:flex;
    flex-direction:row;
    
}